@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('../fonts/architectsdaughter-webfont.eot');
    src: local('☺'),
        url('../fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/architectsdaughter-webfont.woff2') format('woff2'),
        url('../fonts/architectsdaughter-webfont.woff') format('woff'),
        url('../fonts/architectsdaughter-webfont.ttf') format('truetype'),
        url('../fonts/architectsdaughter-webfont.svg#architects_daughterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}